html{
  background-color: #f2f2f2;
}

body{
  display: flex;
  width: 1200px;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rug{
  display: flex;
  flex-basis:960px;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;

  background-color: #ffffff;
}

/*---------- Элементы блока main-header ---------- */

.main-header{
  background-color: #E6F3FF;
  border:1px solid #0183FF;
  border-radius: 4px;
  display:flex;
  justify-content: space-between;
  padding: 9px 31px;
}

.logo{
  width: 155px;
  height: 38px;
  background-color: #E7E0FF;

  border:1px solid #EF33FF;
  border-radius: 4px;
}

.header-nav{
  display:flex;
  flex-basis: 714px;
  align-items: center;
  justify-content: space-around;

  background-color: #DBE2FC;
  border:1px solid #754DE5;
  border-radius: 4px;
}

.header-main-unit{
  flex-basis: 146px;
  margin: 0;
  text-align: center;

  background-color: #E7E0FF;
  border: 1px solid #EF33FF;
  border-radius: 4px; 
}

.header-nav :first-child{
  margin-left: 21px;
}

.header-nav :last-child{
  margin-right: 21px;
}

/*---------- Блок main-page и его крупные блоки ----------*/

.main-page{
  background-color: #E6F3FF;
  border:1px solid #0183FF;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 5px;

  padding: 9px 31px;
}

.content{
  display: flex;
  background-color: #DBE2FC;
  border:1px solid #754DE5;
  border-radius: 4px;
  flex-basis: 120px;
  justify-content: space-around;
  align-items: center;
}

.content-thre{
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
}

/*---------- Мелькие элементы блоков content ----------*/

.content-two-unit{
  display: flex;
  background-color: #E7E0FF;
  border:1px solid #EF33FF;
  border-radius: 4px;
  flex-basis: 262px;
  height:98px;

  margin: 0;
  justify-content: center;
  align-items: center;
}

.content-two :first-child{
  margin-left: 21px;
}

.content-two :last-child{
  margin-right: 21px;
}

.content-thre-unit{
  display: flex;
  flex-basis: 404px;
  justify-content: center;
  align-items: center;

  background-color: #E7E0FF;
  border:1px solid #EF33FF;
  border-radius: 4px;

  height: 53px;
  margin: 0;
}

/* ---------------------------------------------- */

.page-footer{
  /* width:960px; */
  background-color: #E6F3FF;
  border:1px solid #0183FF;
  border-radius: 4px;
  display:flex;
}

/* .logo-footer{
  width: 155px;
  height: 35px;
  background-color: #E7E0FF;
  border:1px solid #EF33FF;
  border-radius: 4px;
  margin: 10px 10px 10px 0;
} */

.page-footer-content-one{
  width:224px;
  height: 40px;
  background-color: #DBE2FC;
  border:1px solid #754DE5;
  border-radius: 4px;
  display:flex;
  justify-content: space-around;
  margin-top: 8px;
  margin-left: 80px;
  margin-right: 80px;
}

.page-footer-unit-one{
  height: 18px;
  background-color: #E7E0FF;
  border:1px solid #EF33FF;
  border-radius: 4px;
  padding: 0 15px 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.page-footer-unit-two{
  height: 18px;
  background-color: #E7E0FF;
  border:1px solid #EF33FF;
  border-radius: 4px;
  padding: 0 15px 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-footer-unit-thre{
  height: 18px;
  background-color: #E7E0FF;
  border:1px solid #EF33FF;
  border-radius: 4px;
  padding: 0 15px 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-footer-content-two{
  width:224px;
  height:40px;
  background-color: #DBE2FC;
  border:1px solid #754DE5;
  border-radius: 4px;
  margin-top: 8px;
}

